services:
  pgdatabase:
    image: postgres:15
    volumes:
      - pgdata:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: suorituspalvelu
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    user: "${USERID}:${GROUPID}"
    env_file: 
     - .env.docker
     - path: .env.docker.local
       required: false
    environment:
      USER: appuser
      HOME: /home/appuser
      MAVEN_CONFIG: /home/appuser/.m2
      # Ei käynnistetä tietokantaa automaattisesti backendin kanssa DevApp:ssa
      NO_DB: true
      SPRING_DATASOURCE_USERNAME: app
      SPRING_DATASOURCE_PASSWORD: app
      SPRING_DATASOURCE_URL: jdbc:postgresql://pgdatabase:5432/suorituspalvelu
      MAVEN_OPTS: -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005
    ports:
      - "8443:8443"
      - "5005:5005"
    extra_hosts:
      - "virtawstesti.csc.fi:host-gateway"
    volumes:
      - .:/app
      - ~/.m2:/home/appuser/.m2
    depends_on:
      - pgdatabase
  frontend:
    environment:
      USER: appuser
      HOME: /home/appuser
      XDG_CACHE_HOME: /pnpm
      HUSKY: 0
    secrets:
      - npmrc
    user: "${USERID}:${GROUPID}"
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "3000:3000"
    volumes:
      - ./suorituspalvelu-ui:/app
      - frontend_node_modules:/app/node_modules
      - frontend_pnpm:/pnpm
  nginx:
    image: nginx:alpine
    env_file:
      - .env.docker
      - path: .env.docker.local
        required: false
    ports:
      - "80:80"
    volumes:
      - ./nginx.dev.conf:/etc/nginx/templates/default.conf.template:ro
    depends_on:
      - frontend
      - backend
volumes:
  pgdata:
  frontend_node_modules:
  frontend_pnpm:
secrets:
  npmrc:
    file: ${HOME}/.npmrc
